{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div style="padding-bottom: 10px;">
            <a href="{{ path('app_logout') }}">Log out</a>
        </div>

        <div style="padding-bottom: 10px;">
            <a href="{{ path('app_task_create') }}">New task</a>
        </div>
    {% endif %}

    {% if tasks is not empty %}
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Description</th>
                    <th>Due Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.getTitle }}</td>
                        <td>{{ task.getDescription }}</td>
                        <td>{{ task.getDueDate() is empty ? "" : task.getDueDate()|date('Y-m-d') }}</td>
                        <td>
                            <a href="{{ path('app_task_delete', parameters: {id: task.id}) }}">Delete</a>
                            <a href="{{ path('app_task_edit', parameters: {id: task.id}) }}">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}

        <p>You don't have any tasks.</p>

    {% endif %}

{% endblock %}
